<h3>Project Experience summary</h3>
<p>
  I have 9+ years of experience working in industry projects.I have experience
  developing softwares for healthcare devices, networking devices using Java.I
  also have experience developing e-commerce website using Java and associated
  web technolofies. I have also worked in Telecommunication web App development
  projects using node.js ,microservice architecture and associated front end
  technologies such as Angular,react,etc
</p>
find below the details on projects <br />
<app-industry-projects></app-industry-projects>
