<div class="p-grid">
  <p-card class="p-col-6" styleClass="card-container">
    <h3>About me</h3>
    <p>
      I am a Technical evangelist having 9+ years of industry experience .I have
      take up freelance assignments and also tutored on JavaScript technologies.
    </p>
    <h3>Career</h3>
    <p>
      Overall, 9 Years of Application development experience using Java, HTML,
      CSS, JavaScript, and XML
      <br />
    </p>
    <ul>
      <li>
        5+ experience on Java Application development JSP, Servlets, Swing,
        Restful services, XML, PostgreSQL.
      </li>
      <li>
        4 experience developing JavaScript Apps. Backend (Node.js) and frontend
        (AngularJS, Angular, React)
      </li>
    </ul>
    <h3>Industry Experience</h3>
    <p>
      Over the period of 9 years i had pleasure and greater experience with the
      below companies
    </p>
    <div class="p-grid p-align-center">
      <img
        width="10%"
        height="30%"
        style="vertical-align: middle;"
        src="assets\wipro.jpg"
        class="p-col-2"
      />

      <img
        width="100%"
        height="50%"
        style="vertical-align: middle;"
        src="assets\USTGlobal.png"
        class="p-col-2"
      />

      <img
        width="100%"
        height="50%"
        style="vertical-align: middle;"
        src="assets\accenture.png"
        class="p-col-2"
      />

      <img
        width="100%"
        height="40%"
        style="vertical-align: middle;"
        src="assets\ge.jpg"
        class="p-col-1"
      />

      <img
        width="40"
        style="vertical-align: middle;"
        src="assets\Tech-mahindra.png"
        class="p-col-2"
      />

      <img
        width="40"
        style="vertical-align: middle;"
        src="assets\Aricent-Technologies.png"
        class="p-col-2"
      />
    </div>
    <h3>Technical Experience</h3>
    I have experience developing system software’s using core Java till 2014,
    where the transition happened to JavaScript technologies and from there i
    have been working as a NodeJS full stack developer. I have experience in
    following areas

    <ul>
      <li>
        experience on Java Application development JSP, Servlets, Swing, Restful
        services, XML, PostgreSQL
      </li>
      <li>
        experience in Node.js Full stack development (Node.js, Angular
        (v2,v4,v6)) of Monolithic and Microservice apps .
      </li>
      <li>Experience in developing SSO Applications Using Node.js.</li>
      <li>Experience in developing Restful services using Node.js.</li>
      <li>
        Experience in developing Microservices using Seneca Microservice
        framework in Node.js.
      </li>
      <li>Having experience on react.js</li>
    </ul>
    <h3>Tutoring</h3>
    <ul>
      <li>Java</li>
      <li>Javascript</li>
      <li>Node.js</li>
      <li>Angular</li>
      <li>MongoDB</li>
      <li>OOAD and Design Patterns</li>
    </ul>
    <p></p>
  </p-card>

  <p-card class="p-col-6" styleClass="card-container">
    <h3>skill chart</h3>
    <app-skill-chart></app-skill-chart>
    <h3>Skill Table</h3>
    <app-skill-table></app-skill-table>
  </p-card>
</div>
